<form id="registrationForm" class="form-horizontal">
    <fieldset>
        <legend>Registration</legend>

        <div class="control-group">
            <label class="control-label" for="email">Email</label>

            <div class="controls">
                <input id="email" placeholder="Email" type="email">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="password">Password</label>

            <div class="controls">
                <input id="password" placeholder="Password" type="password">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="password">Repeat password</label>

            <div class="controls">
                <input id="passwordRepeat" placeholder="Password" type="password">
            </div>
        </div>
    </fieldset>
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">Register</button>
        <button class="btn">Cancel</button>
    </div>
    <hr/>
</form>