/* app css stylesheet */

body {
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */

}

html, body {
    height: 100%;
}

.table th.text-right, .table td.text-right {
    text-align: right;
}

.table th.text-center, .table td.text-center {
    text-align: center;
}

.table tr.text-center th {
    text-align: center;
}

div.navbar div.navbar-inner form.navbar-form span {
    display: block;
    float: left;
    padding: 10px 10px 10px 0px;
}

.marketing {
    color: #5A5A5A;
    text-align: center;
}

footer {
    border-top: 1px solid #E5E5E5;
    height: 20px;
    margin-top: 10px;
    padding: 10px 0;
    text-align: center;
    background-color: #1B1B1B;
    z-index: 1200;
}

#wrapper {
    height: auto !important;
    margin: 0 auto -60px;
    min-height: 100%;
}

footer a {
    color: #ffffff;
}

.control-group.success .control-label {
    color: #333333 !important;
}

#loaderDiv {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1020;
    background-color: white;
    opacity: .2;
    display: none;
}

.ajax-loader {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -64px; /* -1 * image width / 2 */
    margin-top: -64px; /* -1 * image height / 2 */
    display: block;
}