<h2>Web crawler support platform 2</h2>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. -, sed ut hoc iudicaremus, non esse in iis partem maximam
    positam beate aut secus vivendi. Et quidem iure fortasse, sed tamen non gravissimum est testimonium multitudinis.
    Unum est sine dolore esse, alterum cum voluptate. Si verbum sequimur, primum longius verbum praepositum quam bonum.
    Est tamen ea secundum naturam multoque nos ad se expetendam magis hortatur quam superiora omnia. Tum ille: Tu autem
    cum ipse tantum librorum habeas, quos hic tandem requiris? Duo Reges: constructio interrete. Non quaeritur autem
    quid naturae tuae consentaneum sit, sed quid disciplinae. Ergo id est convenienter naturae vivere, a natura
    discedere. Cuius ad naturam apta ratio vera illa et summa lex a philosophis dicitur. Nec vero umquam summum bonum
    assequi quisquam posset, si omnia illa, quae sunt extra, quamquam expetenda, summo bono continerentur. </p>

<p>Piso, familiaris noster, et alia multa et hoc loco Stoicos irridebat: Quid enim? Ergo omni animali illud, quod
    appetiti positum est in eo, quod naturae est accommodatum. <i>Avaritiamne minuis?</i> Sin dicit obscurari quaedam
    nec apparere, quia valde parva sint, nos quoque concedimus; Tria genera cupiditatum, naturales et necessariae,
    naturales et non necessariae, nec naturales nec necessariae. Quae fere omnia appellantur uno ingenii nomine, easque
    virtutes qui habent, ingeniosi vocantur. <i>Quantum Aristoxeni ingenium consumptum videmus in musicis?</i> Hoc
    positum in Phaedro a Platone probavit Epicurus sensitque in omni disputatione id fieri oportere. Quam tu ponis in
    verbis, ego positam in re putabam. </p>

<p>Animadverti, ínquam, te isto modo paulo ante ponere, et scio ab Antiocho nostro dici sic solere; Quicquid enim a
    sapientia proficiscitur, id continuo debet expletum esse omnibus suis partibus; Itaque haec cum illis est dissensio,
    cum Peripateticis nulla sane. Sed ad haec, nisi molestum est, habeo quae velim. Aliam vero vim voluptatis esse,
    aliam nihil dolendi, nisi valde pertinax fueris, concedas necesse est. Ego autem existimo, si honestum esse aliquid
    ostendero, quod sit ipsum vi sua propter seque expetendum, iacere vestra omnia. An eum locum libenter invisit, ubi
    Demosthenes et Aeschines inter se decertare soliti sunt? At ille pellit, qui permulcet sensum voluptate. <i>Dicimus
        aliquem hilare vivere;</i> Atque etiam valítudinem, vires, vacuitatem doloris non propter utilitatem solum, sed
    etiam ipsas propter se expetemus. </p>

<p>Quid enim necesse est, tamquam meretricem in matronarum coetum, sic voluptatem in virtutum concilium adducere? <i>Quae
    contraria sunt his, malane?</i> Nihilne est in his rebus, quod dignum libero aut indignum esse ducamus? De hominibus
    dici non necesse est. Sed finge non solum callidum eum, qui aliquid improbe faciat, verum etiam praepotentem, ut M.
    Parvi enim primo ortu sic iacent, tamquam omnino sine animo sint. <i>Praeteritis, inquit, gaudeo.</i> Solum
    praeterea formosum, solum liberum, solum civem, stultost; Hoc positum in Phaedro a Platone probavit Epicurus
    sensitque in omni disputatione id fieri oportere. Ita finis bonorum existit secundum naturam vivere sic affectum, ut
    optime is affici possit ad naturamque accommodatissime. </p>

<p>Bona autem corporis huic sunt, quod posterius posui, similiora. Qui non moveatur et offensione turpitudinis et
    comprobatione honestatis? Sed in rebus apertissimis nimium longi sumus. Vives, inquit Aristo, magnifice atque
    praeclare, quod erit cumque visum ages, numquam angere, numquam cupies, numquam timebis. <b>Quis enim
        redargueret?</b>
    <mark>Num quid tale Democritus?</mark>
</p>


