<form novalidate name="registrationForm" class="form-horizontal">
    <fieldset>
        <legend>Registration</legend>

        <div control-group label="Name">
            <input id="registerName" name="name" ng-model="user.username" placeholder="Name" type="text"
                   ng-minlength="5" ng-maxlength="255" required>
        </div>

        <div control-group label="Email">
            <input id="registerEmail" name="email" ng-model="user.email" placeholder="Email" type="email"
                   ng-minlength="5" ng-maxlength="255" required>
        </div>

        <div control-group label="Password">
            <input id="registerPassword" name="password" ng-model="user.password" placeholder="Password" type="password"
                   ng-minlength="5" required>
        </div>

        <div control-group label="Repeat password">
            <input id="registerPasswordConfirm" name="passwordConfirm" ng-model="user.confirmPassword"
                   placeholder="Password" type="password" same-as="registerPassword"
                   not-same-error-key="notSamePassword" required>
        </div>

    </fieldset>
    <div class="form-actions">
        <button ng-click="register(user)" type="submit" class="btn btn-primary" ng-disabled="registrationForm.$invalid">
            Register
        </button>
        <button ng-click="reset()" class="btn">Cancel</button>
    </div>
    <hr/>
</form>