<form novalidate name="registrationForm" class="form-horizontal">
    <fieldset>
        <legend>Registration</legend>

        <div control-group label="Name">
            <input id="name" name="name" ng-model="user.username" placeholder="Name" type="text" required>
        </div>

        <div control-group label="Email">
            <input id="email" name="email" ng-model="user.email" placeholder="Email" type="email" required>
        </div>

        <div control-group label="Password">
            <input id="password" name="password" ng-model="user.password" placeholder="Password" type="password"
                   required>
        </div>

        <div control-group label="Repeat password">
            <input id="passwordConfirm" name="passwordConfirm" ng-model="user.confirmPassword" placeholder="Password"
                   type="password" required>
        </div>

    </fieldset>
    <div class="form-actions">
        <button ng-click="register(user)" type="submit" class="btn btn-primary" ng-disabled="registrationForm.$invalid">
            Register
        </button>
        <button ng-click="reset()" class="btn">Cancel</button>
    </div>
    <hr/>
</form>