<form id="registrationForm" class="form-horizontal">
    <fieldset>
        <legend>Registration</legend>

        <div ng-show="validationMessages != null" class="alert">
            <strong>{{validationMessages}}</strong>
        </div>

        <div class="control-group">
            <label class="control-label" for="name">Name</label>

            <div class="controls">
                <input ng-model="username" id="name" placeholder="Name" type="text">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="email">Email</label>

            <div class="controls">
                <input ng-model="email" id="email" placeholder="Email" type="email">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="password">Password</label>

            <div class="controls">
                <input ng-model="password" id="password" placeholder="Password" type="password">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="password">Repeat password</label>

            <div class="controls">
                <input ng-model="repeatPassword" id="passwordRepeat" placeholder="Password" type="password">
            </div>
        </div>
    </fieldset>
    <div class="form-actions">
        <button ng-click="register()" type="submit" class="btn btn-primary">Register</button>
        <button ng-click="reset()" class="btn">Cancel</button>
    </div>
    <hr/>
</form>