<h3>Crawling requests</h3>

<div class="navbar">
    <div class="navbar-inner">
        <form class="navbar-form pull-left">
            <span>URL</span>
            <input id="searchURL" ng-model="searchURL" type="text" placeholder="url" class="span2">
            <button class="btn" ng-click="search()" type="submit">Search</button>
            <button class="btn" ng-click="resetSearch()">Reset</button>
        </form>
    </div>
</div>

<table class="table table-bordered table-hover table-condensed table-striped">
    <thead>
    <tr class="text-center">
        <th>URL <i class="icon-globe"></i></th>
        <th>Return code <i class="icon-ok-circle"></i></th>
        <th>Processing time <i class="icon-arrow-down"></i></th>
        <th>Response size <i class="icon-download"></i></th>
        <th>Request time <i class="icon-time"></i></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="request in requests">
        <td style="text-overflow: ellipsis; overflow: hidden; max-width: 250px;"><a href="{{request.url}}"
                                                                                    target="_blank">{{request.url}}</a>
        </td>
        <td class="text-right"><span ng-class="{'text-error': request.returnCode >= 400}">{{request.returnCode | returnCodeFilter}}</span>
        </td>
        <td class="text-right">{{request.processingTime}} ms</td>
        <td class="text-right">{{request.byteSize | bytes}}</td>
        <td class="text-right">{{request.startTimeUTC.millis | date:'yyyy-MM-dd HH:mm:ss (UTC Z)'}}</td>
    </tr>
    </tbody>
</table>
<div class="pagination pagination-right pagination-small">
    <ul>
        <li><a href="#">«</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">»</a></li>
    </ul>
</div>

